@font-face {
   font-family: 'Prata';
   src: url("assets/fonts/Prata-Regular.ttf");
   font-weight: 400;
 }
 @font-face {
   font-family: 'Barlow';
   src: url("assets/fonts/Barlow-Thin.ttf");
   font-weight: 300;
 }

 * {
   box-sizing: border-box;
 }

 html {
   scroll-behavior: smooth; 
 }

 body {
   font-size: 24px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
   max-width: 1024px;
   height: auto;
   margin: 0 auto; 
   padding: 5px;
   line-height: 1.5;
 }

 .header {
   display: flex;
   justify-content: center;
   align-items: center;
   
 }

 .nav-list {
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
   padding: 0;
}

.nav-link {
   padding: 0 20px;
   line-height: 50px;
   transition: .3s;
 }

 .nav-item a{
   text-decoration: none;
   font-family: 'Barlow';
   font-style: normal;
   color: #202020;
 }

 .nav-item a:hover{
   color:#DCDCDC;
 }

.block-title {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
    background: #E5E5E5;
  }

 .cv-photo {
   margin: 50px;
   width: 250px;
   height: 353px;
   top: 10px;
   border-radius: 50px;
}
 .name {
   font-size: 56px;
   line-height: 10px;
   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
}
.name2 {
   font-size: 24px;
   line-height: 40px;
   font-family: 'Prata';
   font-style: normal;
   font-weight: 400;
}

.section-title {
  font-family: 'Barlow';
  font-style: normal;
  text-align: center;
  font-size: 42px;
  line-height: 10px;
  font-weight: 400;
  margin-bottom: 50px;
}

.block {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-left {
  width: 512px;
  min-height: 100vh;
  background: #E5E5E5;
}

.section-right {
  width: 512px;
  min-height: 100vh;
  background: #E5E5E5;
}

.text-left {
  font-family: 'Barlow';
  font-style: normal;
  text-align: left;
  font-size: 24px;
  line-height: 10px;
  font-weight: 600;
  margin-bottom: 50px;
}

.text-right {
  font-family: 'Barlow';
  font-style: normal;
  text-align: left;
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 50px;
}

.link-item a{
  text-decoration: none;
  font-family: 'Barlow';
  font-style: normal;
  color: #202020;
}

.link-item a:hover{
  color:#DCDCDC;
}

.skills-item {
  position: relative;
  font-family: 'Barlow';
  margin-bottom: 30px;
  padding-left: 0px;
}

.code-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: Courier, monospace;
  color: #999988;
  text-align: center;
}

.code {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: Courier, monospace;
  text-align: left;
}



 .footer {
   background: #E5E5E5;
 }


